{% extends 'base.html' %}
{% include 'header.html' %}
{% include 'navbar.html' %}

{% block title %} FYP {% endblock %}


{% block body %}


<!-- User div -->
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="mt-4 p-3 bg-light border">
                <h2><a class="text-decoration-none text-reset" href="/">Manage <b>Users</b></a> <button id="add-user"
                        type="button" class="btn btn-success float-end" data-bs-toggle="modal"
                        data-bs-target="#mymodaluser">Add New
                        User</button></h2>

                <!-- **Search** -->
                <form action="/search" method="post">
                    <div class="float-end mt-2 mb-3">
                        <input name="sTextUser" type="text" placeholder="Search" class="p-1" required>
                        <input type="submit" value="Find">
                    </div>
                </form>

                <table class="mt-4 table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Action</th>
                        <th>Bill Generate</th>
                    </tr>

                    {% for row in user_data %}

                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.contact}}</td>
                        <td>
                            <a class="btn btn-warning btn-xs" data-bs-toggle="modal"
                                data-bs-target="#modaledituser{{row.id}}">
                                Edit
                            </a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs"
                                onclick="return confirm('Are you sure to delete?')">
                                Delete
                            </a>

                        </td>
                        <td>
                            <a class="btn btn-warning btn-xs" data-bs-toggle="modal"
                                data-bs-target="#modalshopuser{{row.id}}">
                                Shop
                            </a>
                        </td>
                    </tr>

                    <!-- Modal edit user -->
                    <div id="modaledituser{{row.id}}" class="modal fade" role="dialog" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>

                                <div class="modal-body">
                                    <form action="{{url_for('update')}}" method="POST">
                                        <div class="mb-3">
                                            <label>Name:</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="name" value="{{row.name}}">
                                        </div>

                                        <div class="mb-3">
                                            <label>Contact:</label>
                                            <input type="text" class="form-control" name="contact"
                                                value="{{row.contact}}">
                                        </div>

                                        <div class="mb-3">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal shop user -->
                    <div id="modalshopuser{{row.id}}" class="modal fade" role="dialog" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Generate Bill</h4>
                                </div>

                                <div class="modal-body">
                                    <form action="/shop/{{row.id}}" method="POST">
                                        {% for item_row in item_data %}
                                        <div class="mb-3">
                                            <input type="checkbox" name="itemcheck" value="{{item_row.id}}">
                                            <label>Item Name:</label>
                                            <input type="hidden" name="id" value="{{item_row.id}}">
                                            <input type="text" class="form-control" name="name"
                                                value="{{item_row.name}}" readonly>
                                        </div>

                                        <div class="mb-3">
                                            <label>Item Price:</label>
                                            <input type="text" class="form-control" name="price"
                                                value="{{item_row.price}}" readonly>
                                        </div>

                                        <div class="mb-3">
                                            <label>Quantity:</label>
                                            <input type="text" class="form-control" name="quantity"
                                                placeholder="Maximum: {{item_row.avail_quantity}}">
                                        </div>

                                        {% endfor %}
                                        <div class="mb-3">
                                            <button class="btn btn-primary" type="submit">Generate</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>


            <!-- Modal add user -->
            <div id="mymodaluser" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add User</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">
                                <div class="mb-3">

                                    <label class="form-label">Name:</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>

                                <div class="mb-3">

                                    <label class="form-label">Contact:</label>
                                    <input type="text" class="form-control" name="contact" required>
                                </div>

                                <div class="mb-3">
                                    <button class="btn btn-primary" type="submit">Add User</button>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






{% endblock %}