{% extends 'base.html' %}


{% block title %} FYP {% endblock %}


{% block body %}


<div class="row p-1 align-items-start bg-secondary bg-gradient text-white">
    <div class="col well text-center border-end border-dark border-3 table-hover">
        <h3><a href="/" class="text-decoration-none link-light">Manage Users</a></h3>
    </div>
    <div class="col well text-center">
        <h3><a href="/items" class="text-decoration-none link-light">Manage Items</a></h3>
    </div>
</div>


{% endblock %}